*, *::before,*::after{
    margin: 0;
    padding: 0;
    outline: 0;
}

.contador{
    width: 24.7%;
    text-align: center;
    align-items: center;
    display: inline-block;
}
.contador_cantidad{
    text-align: center;
    align-items: center;
    font-size: 200px;
  }

@keyframes aparecer{
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.ocultar{
    opacity: 1;
}

.animar{
    animation: aparecer 1.3s;
}