.hero{
  background-color: white;
  min-height: 450px;
  text-align: center;
  padding: 0 0 50px;
}
  
.hero-principal{
  padding: 3rem;
}

.hero-imagen-desarrollador{
  width: 200px;
  border-radius: 50%;
}

.hero-banner{
  height: 300px;
}

.hero-principal .row{
  background-color:  #f5f6f7;
  text-align: center;
  padding-right: 5%;
}
.hero-principal h2{
  font-size: 1.5rem;
  color: #615151;
}